.photo-wall {
    display: grid;
    /* Create 3 equal columns. */
    columns: repeat(3, 1fr);
    gap: 15px;
}
.img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.container div {
  background-color: white;
}
.card {
    /* background: #f4f4f4; */
    padding: 20px;
    border: 1px solid #ddd;
}