<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>    </header>
    <main>  </main>
    <aside> </aside>
    <div class="column-card">
        <h2>Learn <span class="tooltip">HTML<span class="tooltiptext">HyperText Markup Language</span></span></div></h2>
        <p><a href="https://www.w3schools.com/html/default.asp">Visit W3Schools to learn about HTML.</a></p>
    </div>
    <footer>
        © Copyright 2026 SD70MAC.
        <br> <a href="../../index.html">Back to Student Portal</a>
    </footer>
</body>