/* 🎨 CSS variables store colors in one place. */
:root{
  --primary-dark: rgb(14, 23, 18);
  --accent:rgb(5, 96, 63);
  --primary-light: rgb(170, 184, 130);
}

/* Based on the Week 7A Example*/
/* 1. DEFAULT (Mobile) */
body {
    background-color: white; /* Clean & Simple */
    font-size: 16px;
}

/* 2. Landscape Mobile (Triggered at 576px) */
@media (min-width: 576px) {
    body {
        background-color:  white; /* No change yet */
        font-size: 22px; /* Bigger text for readability*/
    }
}


/* 3. TABLET (Triggered at 768px) */
@media (min-width: 768px) {
    body {
        background-color: lightcyan; /* Still a subtle change */
        font-size: 22px; /* Bigger screens get bigger text */
    }
}

/* 4. DESKTOP (Triggered at 992px) */
@media (min-width: 992px) {
    body {
        background-color: red; /* Still a dramatic change */
    }
}

.card{
width: 40%;
  min-height: 150px;
  color: var(--accent);
  border-radius: 20px;
}

/* Square photo*/
.avatar{

}

/* Name, Job Title, Bio */
.info{

}